
# Gradle 관련 파일 및 폴더
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# STS 관련 파일 및 폴더
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA 관련 파일 및 폴더
.idea
*.iws
*.iml
*.ipr
out/

# NetBeans 관련 파일 및 폴더
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code 관련 파일 및 폴더
.vscode/
*.properties